@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Ubuntu', sans-serif;
}

body {
  position: relative;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 45vw;
  height: 50vh;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 3rem rgb(211, 153, 196);
  background: rgb(226, 178, 214);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  
}

.inputData {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  padding: 15px 30px;
  margin-top: 25px;
  font-size: 2rem;
  border: 3px solid black ;
  border-radius: 3rem;
}

.location {
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
}

.temp {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: black;
}

.tempmin_max {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.fas {
  animation: lrt 2s ease-in-out infinite alternate-reverse both;
}

@keyframes lrt {
  0% {
    transform: translate(4px);
  }
  100% {
    transform: translate(-4px);
  }
}
.search {
  text-align: center;
  margin-top: 60px;
  font-size: 45px;
  font-weight:bolder;
}

.wave1 {
  position: absolute;
  top: 150%;
  left: 50%;
  opacity: 0.2;
  background: white;
  width: 50rem;
  height: 50rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}
.wave2 {
  position: absolute;
  top: 150%;
  left: 50%;
  opacity: 0.15;
  background: white;
  width: 50rem;
  height: 50rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 4000ms infinite linear;
  z-index: 2;
}
.wave3 {
  position: absolute;
  top: 150%;
  left: 50%;
  opacity: 0.1;
  background: white;
  width: 50rem;
  height: 50rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
  z-index: 3;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media (max-width: "1140px") {
  .inputField {
    padding: 5px 10px;
    
  }
  
}
